@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    scroll-snap: y proximity;
}

body {
    font-size: 30px;
    background-color: white;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li {
    list-style: none;
    margin-left: 20px;
    margin-top: 10px;
}

header ul li a {
    text-decoration: none;
    padding: 6px 15px;
    color: #000;
    border-radius: 30px;
    margin-top: 100vh;
}

header ul li a:hover,
header ul li a.active {
    background: #000;
    color: #ffff;
}

.CharacterCard {
    display: flex;
    align-items: center;
    height: 100vh;
    width: 100vw;
    scroll-snap-align: center;
}

.card {
    position: absolute;
    width: 50vw;
    height: 70vh;
    margin: 20px;
    display: flex;
    transform: translate(45%, -10%);
    justify-content: center;
    border-radius: 20px;
    background: linear-gradient(to bottom right, #26c0ff, #1fd655);
}
.card img {
    position: absolute;
    bottom: -10%;
    left: 50%;
    transform: translateX(-50%);
    height: 80vh;
    transition: 0.5%;
}
.card:hover img {
    left: 75%;
    height: 90vh;
    transition: 0.5s;
}
.card .content {
    position: relative;
    width: 100%;
    left: 20%;
    padding: 20px 20px 20px 40px;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}
.card:hover .content {
    left: 0%;
    opacity: 1;
    visibility: visible;
    margin-right: 0;
    position: absolute;
}
.card .content h2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 2.5em;
    line-height: 1em;
    width: 30vw;
}
.card .content p {
    color: #fff;
    width: 300px;
    line-height: 1.25em;
}
.card .content a {
    position: relative;
    display: inline-block;
    color: #111;
    padding: 10px 20px;
    border-radius: 10px;
    background: #fff;
    margin-top: 10px;
    text-decoration: none;
}
@media (max-width: 10vw) {
    .card {
        position: relative;
        width: auto;
        max-width: 600px;
        transition: 0.5s;
        align-items: flex-start;
    }
    .card:hover {
        height: 600px;
    }
    .card:hover img {
        left: 50%;
        height: 350px;
    }
    .card .content {
        width: 100%;
        left: 0;
        padding: 40px;
    }
}
@media (max-width: 420px) {
    .card .content {
        padding: 30px;
    }
    .card:hover img {
        height: 300px;
    }
}
#pagetitle {
    color: white;
    font-size: 5vh;
    margin-left: 30px;
    margin-top: 40px;
    text-align: center;
    font-family: "Isidora Sans", "Isidora Sans Black Italic";
}

.Fox{
    top: 10%;
}
